:root {
  --body-background-color: hsl(216, 12%, 8%);
  --card-background-color: hsl(213, 19%, 18%);
  --buttons-background-color: hsl(212, 21%, 24%);
  --buttons-hover-bacground-color: hsl(216, 12%, 54%);
  --text-primary-color: hsl(0, 0%, 100%);
  --text-secondary-color: hsl(217, 12%, 63%);

  --accent-color: hsl(25, 97%, 53%);
}
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body-background-color);
  font-family: "Overpass", sans-serif;
}

.rating-component {
  max-width: 90%;
  background-color: var(--card-background-color);
  padding: 1.3rem;
  border-radius: 1.2rem;

  &_icon {
    padding: 0.9rem;
    background-color: var(--buttons-background-color);
    border-radius: 100%;
    margin-bottom: 1rem;
  }
  &_title {
    color: var(--text-primary-color);
    margin-bottom: 1rem;
  }
  &_message {
    font-size: 15px;
    color: var(--text-secondary-color);
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }
  .opinion-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    &_button {
      background-color: var(--buttons-background-color);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      width: 48px;
      border-radius: 100%;
      color: var(--text-secondary-color);
      &:hover {
        transition: 0.3s all ease-in-out;
        background-color: var(--accent-color);
        color: var(--text-primary-color);
      }
    }
    .btn-clicked {
      background-color: var(--buttons-hover-bacground-color);
      color: var(--text-primary-color);
    }
  }
  &_submit-button {
    width: 100%;
    border: none;
    background-color: var(--accent-color);
    padding: 0.8rem;
    border-radius: 3rem;
    font-size: 15px;
    color: var(--text-primary-color);
    font-family: "Overpass", sans-serif;
    letter-spacing: 0.1rem;
    &:hover {
      transition: 0.3s all ease-in-out;
      background-color: var(--text-primary-color);
      color: var(--accent-color);
    }
  }
}
.thanking-component {
  max-width: 90%;
  background-color: var(--card-background-color);
  padding: 1.3rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_ilustration {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  &_rating-mesage {
    background-color: var(--buttons-background-color);
    font-size: 15px;
    color: var(--accent-color);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
  &_title {
    color: var(--text-primary-color);
    margin-bottom: 1rem;
  }
  &_message {
    font-size: 14px;
    text-align: center;
    color: var(--text-secondary-color);
    margin-bottom: 1rem;
  }
}
.hidde {
  display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 400px) {
  .rating-component {
    max-width: 60%;
  }
  .thanking-component {
    max-width: 60%;
  }
}

@media (min-width: 900px) {
  .rating-component {
    max-width: 25%;
  }
  .thanking-component {
    max-width: 25%;
  }
}
@media (min-width: 1500px) {
  .rating-component {
    max-width: 18%;
  }
  .thanking-component {
    max-width: 18%;
  }
}
